{% extends "layout.html" %}
{% block body %}
  <div id="chart"></div>
  <script>
  $(function () { 
    $('#chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Activity'
        },
        legend: {
            enabled: false,
        },
        xAxis: {
            minorTickInterval: 0,
            minorTickPosition:'',

            type:'datetime',
            labels: {
                step: 1,
            },
            dateTimeLabelFormats: {
                day: '%b %e'
            }                    
        },
        yAxis: {
            title: {
                text: '# of active seconds in 10 minutes'
            }
        },
        series: [{
            name:'Activity',
            data: {{data|safe}}
        }]
    });
});
  </script>
{% endblock %}
